*.code-workspace
.vscode/
.idea/
__pycache__/
/resources/
*.xlsm
.sass-cache/
/media/
/node_modules/
*.sql
/myenv/

tasks

*.xls*
*.csv
*.pickle
*.pdf
*.log
*.pyc

.coverage

bugs
altiore/middleware.py
altiore/settings.py
altiore/router.py
static/node_modules/

# uploads

media/
vault/
upload/
reports_month_end/

# vscode
*.code-workspace
config/local.py
/venv/
/testing_scripts/test_data/
